.container {
  max-width: 800px;
  margin: 0 auto;
}

body {
  font-family: 'Karla', sans-serif;
}

.font-large {
  font-size: 4rem;
}

.mb {
  margin-bottom: 1rem;
}

.row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.text-align {
  text-align: center;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-half {
  width: 50%;
}
